USE [ProductDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[Description] [nvarchar](1000) NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[UnitsInStock] [int] NULL,
	[LastUpdated] [datetime] NULL,
	[ProductId] [int] NULL,
	[DateAdded] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[InventoryID] [int] NULL,
	[SupplierID] [int] NULL,
	[Description] [nvarchar](1000) NULL,
	[Rating] [decimal](3, 2) NULL,
	[CategoryID] [int] NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NULL,
	[ContactName] [nvarchar](255) NULL,
	[ContactTitle] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Address] [nvarchar](1000) NULL,
	[City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](1000) NULL,
	[Status] [nvarchar](50) NULL,
	[DueDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/12/2025 11:03:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[LastModified] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [LastModified], [ModifiedBy]) VALUES (1, N'Beverages', N'Drinks like soda, water, and juice', CAST(N'2025-02-12T20:44:38.100' AS DateTime), N'System')
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [LastModified], [ModifiedBy]) VALUES (2, N'Food', N'All kinds of food items', CAST(N'2025-02-12T20:44:38.100' AS DateTime), N'System')
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [LastModified], [ModifiedBy]) VALUES (3, N'Snacks', N'Snack items like chips and candy', CAST(N'2025-02-12T20:44:38.100' AS DateTime), N'System')
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 
GO
INSERT [dbo].[Inventory] ([InventoryID], [UnitPrice], [UnitsInStock], [LastUpdated], [ProductId], [DateAdded], [ModifiedBy]) VALUES (1, CAST(2.99 AS Decimal(10, 2)), 200, CAST(N'2025-02-12T20:44:48.367' AS DateTime), 1, CAST(N'2025-02-12T20:44:48.367' AS DateTime), N'System')
GO
INSERT [dbo].[Inventory] ([InventoryID], [UnitPrice], [UnitsInStock], [LastUpdated], [ProductId], [DateAdded], [ModifiedBy]) VALUES (2, CAST(3.49 AS Decimal(10, 2)), 150, CAST(N'2025-02-12T20:44:48.367' AS DateTime), 2, CAST(N'2025-02-12T20:44:48.367' AS DateTime), N'System')
GO
INSERT [dbo].[Inventory] ([InventoryID], [UnitPrice], [UnitsInStock], [LastUpdated], [ProductId], [DateAdded], [ModifiedBy]) VALUES (3, CAST(5.99 AS Decimal(10, 2)), 100, CAST(N'2025-02-12T20:44:48.367' AS DateTime), 3, CAST(N'2025-02-12T20:44:48.367' AS DateTime), N'System')
GO
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [InventoryID], [SupplierID], [Description], [Rating], [CategoryID], [LastModified], [ModifiedBy]) VALUES (2, N'Coca-Cola', 1, 1, N'Refreshing soda drink', CAST(4.50 AS Decimal(3, 2)), 1, CAST(N'2025-02-12T20:45:12.400' AS DateTime), N'System')
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [InventoryID], [SupplierID], [Description], [Rating], [CategoryID], [LastModified], [ModifiedBy]) VALUES (3, N'Pepsi', 2, 2, N'Popular soda drink', CAST(4.30 AS Decimal(3, 2)), 1, CAST(N'2025-02-12T20:45:12.400' AS DateTime), N'System')
GO
INSERT [dbo].[Products] ([ProductID], [ProductName], [InventoryID], [SupplierID], [Description], [Rating], [CategoryID], [LastModified], [ModifiedBy]) VALUES (4, N'Oreo Cookies', 3, 3, N'Chocolate sandwich cookies', CAST(4.70 AS Decimal(3, 2)), 3, CAST(N'2025-02-12T20:45:12.400' AS DateTime), N'System')
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'User')
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Manager')
GO
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 
GO
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [ContactTitle], [Phone], [Address], [City], [Country], [LastModified], [ModifiedBy]) VALUES (1, N'Acme Corp', N'John Smith', N'Sales Manager', N'123-456-7890', N'123 Acme St.', N'New York', N'USA', CAST(N'2025-02-12T20:45:05.617' AS DateTime), N'System')
GO
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [ContactTitle], [Phone], [Address], [City], [Country], [LastModified], [ModifiedBy]) VALUES (2, N'Global Supplies', N'Jane Doe', N'CEO', N'987-654-3210', N'456 Global Ave.', N'Los Angeles', N'USA', CAST(N'2025-02-12T20:45:05.617' AS DateTime), N'System')
GO
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [ContactTitle], [Phone], [Address], [City], [Country], [LastModified], [ModifiedBy]) VALUES (3, N'Tech Innovators', N'Mike Johnson', N'CTO', N'555-123-4567', N'789 Tech Rd.', N'San Francisco', N'USA', CAST(N'2025-02-12T20:45:05.617' AS DateTime), N'System')
GO
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 
GO
INSERT [dbo].[Tasks] ([Id], [Name], [Description], [Status], [DueDate], [CreatedAt], [LastModified], [ModifiedBy]) VALUES (1, N'Fix bug #123', N'Resolve the issue with the payment gateway', N'In Progress', CAST(N'2025-02-14T20:45:01.647' AS DateTime), CAST(N'2025-02-12T20:45:01.647' AS DateTime), CAST(N'2025-02-12T20:45:01.647' AS DateTime), N'System')
GO
INSERT [dbo].[Tasks] ([Id], [Name], [Description], [Status], [DueDate], [CreatedAt], [LastModified], [ModifiedBy]) VALUES (2, N'Update website', N'Redesign the home page and improve UX', N'Pending', CAST(N'2025-02-17T20:45:01.647' AS DateTime), CAST(N'2025-02-12T20:45:01.647' AS DateTime), CAST(N'2025-02-12T20:45:01.647' AS DateTime), N'System')
GO
INSERT [dbo].[Tasks] ([Id], [Name], [Description], [Status], [DueDate], [CreatedAt], [LastModified], [ModifiedBy]) VALUES (3, N'Deploy new release', N'Deploy the new feature release to production', N'Completed', CAST(N'2025-02-15T20:45:01.647' AS DateTime), CAST(N'2025-02-12T20:45:01.647' AS DateTime), CAST(N'2025-02-12T20:45:01.647' AS DateTime), N'System')
GO
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [LastModified], [ModifiedBy]) VALUES (1, N'john_doe', N'john.doe@example.com', N'hashedpassword1', CAST(N'2025-02-12T20:44:56.373' AS DateTime), 1, CAST(N'2025-02-12T20:44:56.373' AS DateTime), N'System')
GO
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [LastModified], [ModifiedBy]) VALUES (2, N'jane_smith', N'jane.smith@example.com', N'hashedpassword2', CAST(N'2025-02-12T20:44:56.373' AS DateTime), 1, CAST(N'2025-02-12T20:44:56.373' AS DateTime), N'System')
GO
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [LastModified], [ModifiedBy]) VALUES (3, N'mike_jones', N'mike.jones@example.com', N'hashedpassword3', CAST(N'2025-02-12T20:44:56.373' AS DateTime), 1, CAST(N'2025-02-12T20:44:56.373' AS DateTime), N'System')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([InventoryID])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO