USE [Foodbank]
GO
/****** Object:  Table [dbo].[FoodItems]    Script Date: 2/25/2026 6:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItems](
	[FoodItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Unit] [nvarchar](20) NULL,
	[QuantityInStock] [int] NULL,
	[ExpirationDate] [date] NULL,
	[IsPerishable] [bit] NULL,
	[CaloriesPerServing] [int] NULL,
	[Ingredients] [nvarchar](500) NULL,
	[Barcode] [nvarchar](50) NULL,
	[Supplier] [nvarchar](100) NULL,
	[DateAdded] [datetime] NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/25/2026 6:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2/25/2026 6:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Description] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/25/2026 6:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodItems] ON 

INSERT [dbo].[FoodItems] ([FoodItemID], [Name], [Category], [Brand], [Description], [Price], [Unit], [QuantityInStock], [ExpirationDate], [IsPerishable], [CaloriesPerServing], [Ingredients], [Barcode], [Supplier], [DateAdded], [IsActive], [RoleId]) VALUES (1, N'Prevent Pantr', N'Pantry', N'Green Valley', N'Husband laugh along while increase hard minute brother.', CAST(28.61 AS Decimal(10, 2)), N'pack', 26, NULL, 0, 480, N'practice, just, quality, military, marriage', N'5122500741414', N'Martin-Lin', CAST(N'1905-07-02T00:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[FoodItems] ([FoodItemID], [Name], [Category], [Brand], [Description], [Price], [Unit], [QuantityInStock], [ExpirationDate], [IsPerishable], [CaloriesPerServing], [Ingredients], [Barcode], [Supplier], [DateAdded], [IsActive], [RoleId]) VALUES (3, N'Decade Vegetabl', N'Vegetable', N'Vitalife', N'Character yet present everybody.', CAST(20.12 AS Decimal(10, 2)), N'piece', 14, CAST(N'2025-09-22' AS Date), 1, 84, N'network, source, year, successful, compare', N'8925616314292', N'Richardson, Morales and Archer', CAST(N'2025-05-26T00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[FoodItems] ([FoodItemID], [Name], [Category], [Brand], [Description], [Price], [Unit], [QuantityInStock], [ExpirationDate], [IsPerishable], [CaloriesPerServing], [Ingredients], [Barcode], [Supplier], [DateAdded], [IsActive], [RoleId]) VALUES (4, N'Protect Mea', N'Meat', N'DairyBest', N'Sometimes soldier range then somebody throw fast.', CAST(12.10 AS Decimal(10, 2)), N'pack', 98, CAST(N'2026-08-02' AS Date), 1, 512, N'stage, yard, bed, seat, or', N'1481431780683', N'Jones-Gonzales', CAST(N'2025-07-22T00:00:00.000' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[FoodItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Full access to all data and settings')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'Manager', N'Can view and manage assigned data')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'Viewer', N'Read-only access to data')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId], [Description]) VALUES (1, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [FullName], [IsActive], [CreatedAt], [LastLogin]) VALUES (1, N'lalala', N'lalala@gmail.com', N'lalala', 1, CAST(N'2025-08-14T06:46:35.463' AS DateTime), CAST(N'2025-08-14T06:46:40.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FoodItem__177800D372C0EBDE]    Script Date: 2/25/2026 6:33:02 PM ******/
ALTER TABLE [dbo].[FoodItems] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616062A88C26]    Script Date: 2/25/2026 6:33:02 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E47B5361CF]    Script Date: 2/25/2026 6:33:02 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534B8EE17DE]    Script Date: 2/25/2026 6:33:02 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FoodItems] ADD  DEFAULT ((0)) FOR [QuantityInStock]
GO
ALTER TABLE [dbo].[FoodItems] ADD  DEFAULT ((0)) FOR [IsPerishable]
GO
ALTER TABLE [dbo].[FoodItems] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[FoodItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FoodItems]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
