@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Product Page";
}
 
<div class="row">
    <div class="col-3">
        <div class="product-item">
           ID
        </div>
    </div>
    <div class="col-3">
        <div class="product-item">
            Name
        </div>
    </div>
    <div class="col-3">
        <div class="product-item">
            Rating
        </div>
    </div>
    <div class="col-3">
        <div class="product-item">
            Description
        </div>
    </div>
    @foreach (var product in Model)
    {
        <div class="col-3">
            <div class="product-item">
                @product.CategoryId
            </div>
        </div>
        <div class="col-3">
            <div class="product-item">
                @product.Name
            </div>
        </div>
        <div class="col-3">
            <div class="product-item">
                @product.Rating
            </div>
        </div>
        <div class="col-3">
            <div class="product-item">
                @product.Description
            </div>
        </div>
	}
</div>